.button {
    background: var(--melanit-background-white);
    border-radius: var(--melanit-border-radius);
    padding: 10px;
    cursor: pointer;
    outline: none;
    border: 0;
    opacity: 1;
    transition: opacity .4s ease-in-out;

    &__icon svg {
        width: 20px;
        height: 20px;
        fill: var(--melanit-fill-icon);
    }

    &:hover {
        opacity: 0.6;
    }
}
