:root {
  --melanit-background-white: #fffcf7;
  --melanit-background-violet: #cfd5f8;
  --melanit-fill-icon: #8391e5;
  --melanit-border-radius: 12px;
  --melanit-heading-font-size: 24px;
}

body {
  margin: 0;
  font-family: 'Work Sans', 'Roboto Mono', sans-serif;
  font-weight: 400;
  background: var(--melanit-background-violet);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
